.appContainer {
  width: 100%;
  height: 100%;
  background-color: #8d8d8d;
  display: flex;
  font-family: "Roboto-mono", sans-serif;
  min-height: 100vh;
}

/* Consultations list */
.consultations-list {
  padding-top: 30px;
  text-align: left;
}

.consultation-item {
  position: relative;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.delete-consultation {
  position: absolute;
  bottom: 25px;
  right: 10px;
  font-size: 18px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.delete-consultation:hover {
  background-color: #d13a30;
  transform: scale(1.1);
}

.delete-consultation:active {
  transform: scale(0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.addConsultation {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin-left: 0;
}

.addConsultation:hover {
  background-color: #45a049;
}

.cancelConsultationAdd {
  padding: 8px 16px;
  margin: 10px 0;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cancelConsultationAdd:hover {
  background-color: #d13a30;
}

/* Modal styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-content label {
  margin-top: 10px;
}

.modal-content input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 5px;
  width: 100%;
}

.modal-content button {
  margin-top: 15px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  background-color: #4caf50;
  color: white;
  border: none;
  text-align: center;
}

.modal-content button.cancelConsultationAdd {
  background-color: #f44336;
}

/* Consultations web */
.consultations-web {
  position: static;
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

.consultations-web h1 {
  color: #fff;
}

/* Calendar styles */
.calendar-container {
  width: auto;
  text-align: center;
  top: 10px;
  left: 50%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.days,
.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.day,
.empty {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.day.selected {
  background-color: #007bff;
  color: white;
}

.day.has-consultation {
  background-color: #ffd700;
  color: black;
}

.day:hover {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}
